@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Dancing+Script&family=EB+Garamond&display=swap');

/*............................................Colours*/
.bg-color-name-title {
    background-color: rgb(122, 114, 138);
}

.ui-menu-color-home {
    background-color: rgb(40, 151, 151);
}

.ui-menu-color-about  {
    background-color: darkolivegreen;
}

.ui-menu-color-forum {
    background-color: rgb(182, 125, 154);
}

.ui-menu-color-join {
    background-color: rgb(81, 2, 155);
}

/*............................................Heading*/
header {
    margin: 0;
}

.heading {
    margin-left: 50px;
}

.logo {
    background: url(../images/logo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 360px;
}

.title {
    font-family: 'Amatic SC', sans-serif;
    font-weight: 100;
    font-size: 46px;
    margin-top: 50px;
    color: aliceblue;
}

.undertext {
    font-family: 'Dancing Script', sans-serif;
    font-weight: 200;
    font-size: 28px;
    margin-top: 20px;
    margin-bottom: 90px;
    color: aliceblue;
}

.list-inline-item:not(:last-child) {
    margin: 0;
}

.menucontainer {
    font-size: 0;
}

#nav li {
    font-size: 14px;
    padding: 0;
}

.menuitem {
    height: 120px;
    text-align: center;
    padding: 0;
}

.menuitem a {
    width: 100%;
    text-decoration: none;
    color:aliceblue;
    height: 120px;
}

.menuitem a i {
    padding-top: 22px;
    display: block;
    color: #f8f8f8;
    font-size: 26px;
}

.menuitem span {
    display: block;
    width: 100%;
    padding-top: 5px;
    text-align: center;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 300;
    letter-spacing: 2px;
}